pkgbase = agildodock
	pkgdesc = Dock de aplicativos para KDE Plasma com Layer Shell, Kirigami e efeito de onda
	pkgver = 1.4.2
	pkgrel = 1
	url = https://github.com/juglesbass/AgildoDockCpp_Wayland
	install = agildodock.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	depends = gcc-libs
	depends = glibc
	depends = kglobalaccel
	depends = kirigami
	depends = kwindowsystem
	depends = layer-shell-qt
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-shadertools
	depends = qt6-wayland
	optdepends = kdotool: focar, minimizar e fechar janelas em sessão Plasma Wayland
	source = AgildoDockCpp_Wayland-1.4.2.tar.gz::https://github.com/juglesbass/AgildoDockCpp_Wayland/archive/refs/tags/v1.4.2.tar.gz
	sha256sums = 427946e4c3628925bdb4c19469a2cab8e0c7cb33fdb7b83a4167f6a80e2584fb

pkgname = agildodock
