pkgbase = agildodock
	pkgdesc = Dock de aplicativos para KDE Plasma com Layer Shell, Kirigami e efeito de onda
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/juglesbass/AgildoDockCpp_Wayland
	install = agildodock.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	depends = gcc-libs
	depends = glibc
	depends = kglobalaccel
	depends = kirigami
	depends = kwindowsystem
	depends = layer-shell-qt
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-shadertools
	depends = qt6-wayland
	optdepends = kdotool: focar, minimizar e fechar janelas em sessão Plasma Wayland
	source = AgildoDockCpp_Wayland-1.5.0.tar.gz::https://github.com/juglesbass/AgildoDockCpp_Wayland/archive/refs/tags/v1.5.0.tar.gz
	sha256sums = 2c6920a59888cfe7c4593fa6e10e804c36a4759f9f57bc18f9e4ad86c9921acb

pkgname = agildodock
